.dashboard-container {
    padding-top: 130px;
    height: calc(100vh - 150px);
}

.dashboard-item-container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
}
