.home-services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 25px 0 25px;
}

.navbar-service {
  height: 20px;
  padding-top: 130px;
}

.navbar-service-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 30px 50px;
}

.navbar-loc-tile-radio {
  opacity: 0;
  position: absolute;
  height: 4%;
  width: 10%;
  margin: 0;
  cursor: pointer;
}

.navbar-loc-tile-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px;
  transition: transform 500ms ease;
  font-weight: 600;
  color: grey;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.navbar-loc-tile-radio:checked + .navbar-loc-tile-label {
  background-color:rgb(173, 173, 173);
  color: white;
}

.navbar-loc-tile-radio:hover + .navbar-loc-tile-label {
  background-color:rgb(243, 243, 243);
}

.navbar-service-search-container {
  position: relative;
  display: inline-block;
  width: 40%;
}

.search-input-box {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 10px 10px 10px 40px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: darkgray;

  .fa-x {
    color: darkgray
  }
}

.navbar-service-categories {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.8rem;;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
}

.navbar-service-tile-container {
  position:relative;
}

.navbar-service-category-tile-radio {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.navbar-service-category-tile-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px;
  transition: transform 500ms ease;
  font-weight: 600;
  color: grey;

  &.all-filter {
    color: black;
  }
}

.navbar-service-category-tile-radio:checked + .navbar-service-category-tile-label {
  background-color:rgb(173, 173, 173);
  color: white;
}

.navbar-service-category-tile-radio:hover + .navbar-service-category-tile-label {
  background-color:rgb(243, 243, 243);
}
