.job-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-gap: 1em;
    padding: 15px;
    margin: 5px;
    background: #fff 50%;
    background-size: cover;
    border-radius: 5px;
    // height: auto;
    // height: 100%;
    width: 250px;
    min-height: 50px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);

    // &:hover {
    //   box-shadow: 0 0 50px rgba(30, 34, 37, 0.1),
    //     0 10px 16px rgba(39, 44, 49, 0.07);
    // }
}

.job-item-delete {
    position: absolute;
    top: 10px;
    right: 15px;
}

.job-item-delete:hover {
    cursor: pointer;
}

.job-item-horiz-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-item-image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
}

.job-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.job-item-header-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.job-item-category {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: -.01rem;
    font-weight: 600;
    margin-bottom: 5p
}

.job-item-location {
    margin-left: 5px;
    font-size: .9rem;
    letter-spacing: -.01rem;
    font-weight: 300;
}

.job-item-name {
    font-size: 1.7rem;
    font-family: 'Lora', serif;
    margin-bottom: 12px;
}

.job-item-email-wrapper {
    display: flex;
    position: relative;
    align-items: baseline;
    margin-bottom: 12px;
    color: grey;
    font-size: 0.9rem;

    &:hover {
        color: darkgray;
        cursor: pointer;
    }

    &:hover .email-clipboard {
        color: #000;
    }

    &:hover .email-copy-tooltip {
        visibility: visible;
        color: #000;
    }
}

.email-copy-tooltip {
    visibility: hidden;
    background-color: rgb(239, 239, 239);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
}

.email-clipboard {
    color: grey;
    margin-left: 5px;
}

.job-item-date-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.job-item-date {
    margin-left: 5px;
}

.job-item-category {
    margin-bottom: 8px;
}

.job-item-description {
    font-size:.9rem;
    line-height: 1rem;
    margin-bottom: 15px;
}

.job-item-status {
    color: rgb(209, 99, 86);
    font-weight: 500;
}

.job-item-status-button {
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      background-color: rgb(218, 218, 218);
    }
}
