.dashboard-item-job-index-container {
    width: 400px;
    height: 100%;
    background-color: antiquewhite;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.dashboard-item-header {
    margin: 15px;
    font-size: 1.7rem;
    background-color: inherit;
}