@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

.navbar-wrapper-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 100px;
  background: #fff;
}

.navbar-wrapper-title-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.site-title {
  margin-left: 25px;
  font-size: 45px;
  font-family: 'Engagement', cursive;
  cursor: pointer;
}

.links-auth {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.nav-button {
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color .2s ease-out;
  font-weight: 600;
  letter-spacing: .02em;
  border-radius: 30px;
  padding: 10px 15px;
  color: black;

  &.logout-button {
    background: none;
    color: inherit;
    border: none;
    outline: inherit;
  }

  &:hover {
    color: grey;
  }
}
