.service-info-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    padding: 20px 20px 0px 20px;
}

.user-info-item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.welcome-header {
    font-size: 1.3rem;
    font-weight: 400;
    color: grey;
    margin-bottom: 10px;
}

.user-image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto 20px auto;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: baseline;
}

.user-info-item > p {
    padding-top: 0.2rem;
    font-weight: 475;
}

.profile-modal-label {
    color: grey;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-modal-info {
    padding-top: 10px;

    &.portfolio {
        padding-right: 5px;
        font-weight: 400;
    }
}

.edit-button {
    border: none;
    background: rgb(211, 211, 211);
    padding: 6px 8px 6px 8px;
    font-size: 15px;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background: rgb(179, 179, 179);
      }
}

.service-category {
    text-transform: capitalize;
}
