.service-info-container {
    display: flex;
    flex-direction: column;
    
}

.user-info-item {
    padding-top: 1rem;
}

.bottom {
    padding-bottom: 1rem;
}

.welcome {
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.portfolio {
    padding-right: 5px;
}


